#landing .container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003153;
  flex-direction: column;
}

#landing .cover-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#landing .cover-container img.ba-cover {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#landing .cover-container .cover-headline {
  padding: 0 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#landing .cover-headline h1 {
  margin-top: 110px;
  margin-bottom: 0;
  position: relative;
}

#landing .cover-headline h1,
#landing .cover-headline h1 span {
  display: inline-block;
  font-family: 'Maragsa';
  font-size: 130px;
  font-weight: normal;
  letter-spacing: 14px;
  color: #003153;
  position: relative;
}

#landing .cover-headline h1 span img {
  position: absolute;
  left: 0.33em;
  bottom: 0.25em;
  height: 0.98em;
  pointer-events: none;
}

#landing .cover-headline h4 {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Maragsa';
  letter-spacing: 0.065em;
  font-size: 40px;
  font-weight: normal;
  position: relative;
  color: #003153;
  text-shadow: -1px 1px white;
}

#landing .cover-headline span {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Public Sans';
  font-size: 16px;
  position: relative;
  color: #003153;
}

#landing .cover-headline .social-media-links {
  margin-top: 20px;
  position: relative;
}

#landing .cover-headline .cover-gradient {
  position: absolute;
  top: 60vh;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  background: linear-gradient(0deg, rgba(0,49,83,1) 0%, rgba(0,49,83,0) 100%); 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#landing .cover-gradient button {
  margin-bottom: 20px;
  animation: bounce-down 4s ease-in-out infinite;
  background-color: transparent;
  border: none;
}

#landing .content-container {
  width: 100%;
  background-color: #003153;
}

#landing .content-container .three-pillars {
  height: 400vh;
  width: 100%;
}

#landing .three-pillars .pillars-content {
  height: 100vh;
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
}

#landing .three-pillars .pillars-content img.pillars-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
  transition: 1s opacity ease-in-out, 3s filter ease-out;
  opacity: 0;
  filter: blur(10px);
  pointer-events: none;
}

#landing .three-pillars .pillars-content img.pillars-bg.bg-show {
  opacity: 0.4;
  filter: blur(0);
}

#landing .three-pillars .pillars-content img.pillars-bg-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40vh;
  transition: 1s opacity ease-in-out, 3s filter ease-out;
  opacity: 0;
  pointer-events: none;
  animation: wing-fly 3s cubic-bezier(.31,.02,.36,.94) infinite alternate;
  filter: blur(0) drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
}

#landing .three-pillars .pillars-content img.pillars-bg-logo.bg-show {
  opacity: 0.4;
}

#landing .three-pillars .pillars-content .pillars-photo-credit:not(:hover) {
  opacity: 0;
}

#landing .three-pillars .pillars-content .pillars-photo-credit.credit-show:not(:hover) {
  opacity: 1;
}

#landing .three-pillars .pillars-content .title,
#landing .three-pillars .pillars-content .description {
  display: flex;
  flex-wrap: wrap;
}

#landing .three-pillars .pillars-content .title {
  font-size: 49px;
  font-family: 'Maragsa';
  letter-spacing: 0.065em;
  font-weight: normal;
  z-index: 1;
}

#landing .three-pillars .pillars-content .title .scroll-container {
  margin-left: 10px;
}

#landing .three-pillars .title .scroll-container span {
  white-space: nowrap;
}

#landing .three-pillars .pillars-content .title .highlight {
  color: #CDA837;
}

#landing .three-pillars .pillars-content .title .scroll-container {
  display: inline-block;
}

#landing .three-pillars .scroll-container {
  position: relative;
}

#landing .three-pillars .scroll-container > span {
  display: block;
  position: absolute;
  transition: 1.3s all cubic-bezier(.77,0,.18,1);
}

#landing .three-pillars .pillar-1 .title .scroll-container > span:nth-child(1) {
  transform: none;
}

#landing .three-pillars .pillar-1 .title .scroll-container > span:nth-child(2) {
  transform: translateY(75%);
}

#landing .three-pillars .pillar-1 .title .scroll-container > span:nth-child(3) {
  transform: translateY(150%);
}

#landing .three-pillars .pillar-2 .title .scroll-container > span:nth-child(1) {
  transform: translateY(-75%);
}

#landing .three-pillars .pillar-2 .title .scroll-container > span:nth-child(2) {
  transform: none;
}

#landing .three-pillars .pillar-2 .title .scroll-container > span:nth-child(3) {
  transform: translateY(75%);
}

#landing .three-pillars .pillar-3 .title .scroll-container > span:nth-child(1) {
  transform: translateY(-150%);
}

#landing .three-pillars .pillar-3 .title .scroll-container > span:nth-child(2) {
  transform: translateY(-75%);
}

#landing .three-pillars .pillar-3 .title .scroll-container > span:nth-child(3) {
  transform: none;
}

#landing .three-pillars .pillar-1 .scroll-container > span:nth-child(1) {
  opacity: 1;
}

#landing .three-pillars .pillar-1 .scroll-container > span:nth-child(2) {
  opacity: 0;
}

#landing .three-pillars .pillar-1 .scroll-container > span:nth-child(3) {
  opacity: 0;
}

#landing .three-pillars .pillar-2 .scroll-container > span:nth-child(1) {
  opacity: 0;
}

#landing .three-pillars .pillar-2 .scroll-container > span:nth-child(2) {
  opacity: 1;
}

#landing .three-pillars .pillar-2 .scroll-container > span:nth-child(3) {
  opacity: 0;
}

#landing .three-pillars .pillar-3 .scroll-container > span:nth-child(1) {
  opacity: 0;
}

#landing .three-pillars .pillar-3 .scroll-container > span:nth-child(2) {
  opacity: 0;
}

#landing .three-pillars .pillar-3 .scroll-container > span:nth-child(3) {
  opacity: 1;
}

#landing .three-pillars .scroll-container > span img {
  position: absolute;
  right: -0.45em;
  bottom: 0.25em;
  height: 0.98em;
  pointer-events: none;
}

#landing .three-pillars .pillars-content .description {
  font-family: 'Public Sans';
  font-size: 22px;
  margin-top: 16px;
  line-height: 1.15em;
  height: 2.5em;
}

#landing .three-pillars .pillars-content .description .word-wrap {
  display: block;
}

#landing .content-container .imagine {
  height: 400vh;
  width: 100%;
}

#landing .imagine .imagine-content {
  height: 100vh;
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
}

#landing .imagine .imagine-content .imagine-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
  pointer-events: none;
}

/* Low precedence for transition */
#landing .imagine-bg {
  opacity: 0.28;
}

#landing .imagine .imagine-content .imagine-bg.fade-enter-active {
  opacity: 0.28;
}

#landing .imagine .imagine-content .imagine-text {
  text-transform: uppercase;
  color: white;
  font-family: 'Public Sans';
  font-weight: 600;
  letter-spacing: 0.075em;
  z-index: 100;
}

#landing .imagine .imagine-content .topic {
  font-size: 49px;
  font-family: 'Maragsa';
  letter-spacing: 0.065em;
  font-weight: normal;
  margin-top: 12px;
  z-index: 100;
}

#landing .imagine .imagine-content .topic .highlight {
  color: #CDA837;
}

#landing .imagine .imagine-content .photo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CDA837;
  padding: 18px 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#landing .imagine .imagine-content .photo-info,
#landing .imagine .imagine-content .photo-info a {
  font-size: 20px;
  font-family: 'Public Sans';
  letter-spacing: 0.075em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

#landing .imagine .imagine-content .photo-info .fade-enter,
#landing .imagine .imagine-content .photo-info .fade-exit,
#landing .imagine .imagine-content .photo-info .fade-enter-active,
#landing .imagine .imagine-content .photo-info .fade-exit-active {
  transition: opacity 1.5s cubic-bezier(0.87, 0.2, 0.61, 0.99);
}

#landing .imagine .imagine-content .photo-info a:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
}

#landing .imagine .imagine-content .fade-enter,
#landing .imagine .imagine-content .fade-exit,
#landing .imagine .imagine-content .fade-exit-active {
  opacity: 0;
}

#landing .imagine .imagine-content .fade-enter-active {
  opacity: 1;
}

#landing .imagine .imagine-content .fade-enter,
#landing .imagine .imagine-content .fade-exit,
#landing .imagine .imagine-content .fade-enter-active,
#landing .imagine .imagine-content .fade-exit-active {
  transition: opacity 1s cubic-bezier(0.87, 0.2, 0.61, 0.99);
}

/* #landing .pillars-content img.pillars-bg.bg-show {
  opacity: 0.4;
  filter: blur(0);
} */


@keyframes wing-fly {
  0% {
    transform: translate(-35%, calc(-50% - 15vh));
    filter: blur(0) drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
  }

  100% {
    transform: translate(-35%, calc(-50% - 15vh - 30px));
    filter: blur(0) drop-shadow(0 0 40px rgba(255, 255, 255, 1));
  }
}

@keyframes bounce-down {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
