@use '../theme/colors' as *;
@use '../theme/spacing' as *;
@use '../theme/typography' as *;

footer {
  width: 100%;
  padding: 14px $page-padding-x;
  display: flex;
  align-items: center;
  background-color: $ba-blue;

  .social-media-links {
    display: flex;
    margin-right: 20px;

    .social-media-link {
      height: 35px;

      &:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }

  .copyright {
    color: white;
    display: block;
    text-transform: uppercase;
    font-family: $font-body;
    font-weight: $font-semibold;
    letter-spacing: 0.075em;
    font-size: 20px;
  }
}
