footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

footer .follow-text {
  color: white;
  font-size: 30px;
}

footer .follow-text > span:first-child {
  font-weight: 200;
}

footer .follow-text > span:last-child {
  font-family: 'Maragsa';
  letter-spacing: 0.1em;
  white-space: nowrap;
}

footer .social-media-links {
  margin-top: 30px;
  display: flex;
}
