header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 26px 64px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

header.fixed-header {
  position: fixed;
  background-color: #003153;
}

header.fixed-header.slide-from-top-enter,
header.fixed-header.slide-from-top-exit,
header.fixed-header.slide-from-top-exit-active {
  transform: translateY(-100%);
}

header.fixed-header.slide-from-top-enter-active {
  transform: translateY(0);
  transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

header.fixed-header.slide-from-top-exit,
header.fixed-header.slide-from-top-exit-active {
  transition: transform 0.75s ease-in-out;
}

header .logo {
  font-family: 'Maragsa';
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.125em;
  text-decoration: none;
  color: white;
  padding-right: 45px;
}

header .logo span {
  position: relative;
}

header .logo span img {
  position: absolute;
  left: 0.33em;
  bottom: 0.25em;
  height: 1.05em;
  pointer-events: none;
}

header .nav-links a {
  font-family: 'Public Sans';
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #003153;
  text-shadow: -1px 1px white;
  transition: 0.3s filter ease-out;
}

header.fixed-header .nav-links a {
  color: white;
  text-shadow: none;
  text-decoration: none;
  transition: 0.3s filter ease-out;
}

header a:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
}

header .nav-links a:not(:last-child) {
  margin-right: 45px;
}
