@use '../theme/colors' as *;
@use '../theme/spacing' as *;
@use '../theme/typography' as *;

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 26px $page-padding-x;
  background-color: transparent;
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s filter ease-out;

    &:hover {
      filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
    }
  }

  .nav-links {
    & button {
      font-family: $font-body;
      font-weight: 600;
      font-size: 15px;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      color: $ba-blue;
      text-shadow: -1px 1px white;
  
      &:not(:last-child) {
        margin-right: 45px;
      }
    }
  }

  &.fixed-header {
    position: fixed;
    background-color: $ba-blue;

    &.slide-from-top-enter,
    &.slide-from-top-exit,
    &.slide-from-top-exit-active {
      transform: translateY(-100%);
    }
  
    &.slide-from-top-enter-active {
      transform: translateY(0);
      transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
    }
  
    &.slide-from-top-exit,
    &.slide-from-top-exit-active {
      transition: transform 0.75s ease-in-out;
    }

    .logo {
      font-family: $font-heading;
      font-size: 40px;
      font-weight: normal;
      letter-spacing: 0.125em;
      text-decoration: none;
      color: white;
      margin-right: 45px;

      span {
        position: relative;
      
        img {
          position: absolute;
          left: 0.33em;
          bottom: 0.25em;
          height: 1.05em;
          pointer-events: none;
        }
      }
    }

    .nav-links button {
      color: white;
      text-shadow: none;
      text-decoration: none;
      transition: 0.3s filter ease-out;
    }
  }
}

/* Override fade transition properties */
#landing header {
  &.fade-enter,
  &.fade-exit,
  &.fade-enter-active,
  &.fade-exit-active {
    transition: opacity 0.5s ease-in-out;
    /* transition: opacity 1s cubic-bezier(0.87, 0.2, 0.61, 0.99); */
  }
}
