header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #003153;
  padding: 26px 64px;
  display: flex;
  align-items: center;
  transition: 1s background-color ease-in-out;
}

header.transparent {
  background-color: transparent;
}

header .logo {
  font-family: 'Maragsa';
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.125em;
  text-decoration: none;
  color: white;
  padding-right: 45px;
  opacity: 0;
  transition: 0.3s filter ease-out, 2s opacity cubic-bezier(.52,.01,.53,1);
}

header.logo-appear .logo {
  transition: 0.3s filter ease-out, 2s opacity cubic-bezier(.37,.01,.52,1.01);
  opacity: 1;
}

header .logo span {
  position: relative;
}

header .logo span img {
  position: absolute;
  left: 0.33em;
  bottom: 0.25em;
  height: 1.05em;
  pointer-events: none;
}

header .nav-links {
  transition: 2s all cubic-bezier(.52,.01,.53,1);
}

header.logo-appear .nav-links {
  transition: 2s all cubic-bezier(.37,.01,.52,1.01);
}

header .nav-links a {
  font-family: 'Public Sans';
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #003153;
  text-shadow: -1px 1px white;
  transition: 0.3s filter ease-out;
}

header.logo-appear .nav-links a {
  color: white;
  text-shadow: none;
  text-decoration: none;
  transition: 0.3s filter ease-out;
}

header a:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
}

header .nav-links a:not(:last-child) {
  margin-right: 45px;
}
