@use '../theme/breakpoints' as *;

.social-media-links .social-media-link {
  display: inline-block;
  height: 50px;

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  @media (max-width: $breakpoint-large) {
    height: 50px;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 45px;

    &:not(:last-of-type) {
      margin-right: 18px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    height: 40px;

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }

  & img {
    height: 100%;
    transition: filter 0.3s ease-out;

    &:hover {
      filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
    }
  }
}
