.social-media-link {
  display: inline-block;
  height: 50px;

  & img {
    height: 100%;
    transition: filter 0.3s ease-out;

    &:hover {
      filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
    }
  }
}
