.social-media-link {
  display: inline-block;
  height: 50px;

  & img {
    height: 100%;
    opacity: 1;
    transition: filter 0.3s ease-out, opacity 0.3s ease-out;

    &:hover {
      filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
      opacity: 0.8;
    }
  }
}
