@use '../theme/typography' as *;

.wing-text {
  position: relative;
  font-size: 49px;
  font-family: $font-heading;
  letter-spacing: 0.065em;
  font-weight: normal;
  color: white;

  img {
    position: absolute;
    right: -0.45em;
    bottom: 0.25em;
    height: 0.98em;
    pointer-events: none;
  }
}
